:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --header-title-color: #FFC2E6;
  --subtitle-color: #353430;
  --section-title-color: #353430;
  --border-color: #353430;
  --button-color: #353430;
  --button-color-hover: #32312D66;
  --page-bg-image: url(../images/cover-image-light.png);
}

.theme-light .header__record {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --header-title-color: #FFC2E6;
    --subtitle-color: #353430;
    --section-title-color: #353430;
    --border-color: #353430;
    --button-color: #353430;
    --button-color-hover: #32312D66;
    --page-bg-image: url(../images/cover-image-light.png);
    }
  
  .header__record {
    display: none;
  }

  .theme-auto .header__record {
    display: none;
  }
  
}